nav {
    display: flex;
    justify-content: space-between;
}

nav h1{
font-family: sans-serif;
font-size: 40px;
font-weight: 800;
margin: 0;
color: blueviolet;
margin-left: 2%;
margin-top: 10px;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding-left: 55px;
    padding-top: 15px;
}

nav li a {
    font-size: 19px;
    text-decoration: none;
    color: blueviolet;
}

nav .nav-search {
    width: 30%;
    margin-top: 10px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

nav input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 45px;
    border-right: 0px;
}

nav button {
    font-size: 18px;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 45px;
    border-left: 0px;
}